@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


.footer{
    padding-top: 50px;
    height: 430px;
    background-image:  url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');    
    background-color:#095584a9;
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 10%;
  
    background-size: 
      90%,
      30%;
      animation: 50s para infinite linear;
  }
  
  @keyframes para {
    100% {
      background-position: 
        -1000px 0,
        -400px 10%
      }
  
}
.sosyalmedya{
    display: flex;
    justify-content: center;
}

.sosyalmedya img {
    height: 20px;
    width: 20px;
    margin :10px;
    margin-right :20px;
    margin-left :20px;
    cursor: pointer;
}


.col {
    width: 190px;
    float: left;
    padding: 0px 20px 20px 20px;
    margin-left: 50px;
  }
   .col h1 {
    
    font-size: 16px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #000000;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
 .ftr ul {
    margin: 0;
    padding: 0;
  }
  .ftr ul  li {
    color: #000000;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;   
    font-weight: normal;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    text-align: left;
    list-style: none;
 
  }