/*     background-color:#dbf4f7;
 */
 @import url(https://fonts.googleapis.com/css?family=Raleway:500,600,800);


.str{
    background-color:#daf1f4;
    box-shadow: 0px 15px 10px -15px #c7d7e2; 
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    margin-right: 0px;
    width: 100%;
    display: inline;

}
.pq{
    font-size: 23px;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
    color:rgb(17, 67, 111);
 
}
#logo{
    max-height: 65px;
    display: block; 
    margin: auto;
}

.fc:hover{
    transition: 0.3s; 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);  
    -moz-transform: scale(1.2);
    transform: scale(1.1);
}

form{

}
.search {
    margin-left: -100px;
    margin-top: 20px;
    width: 600px;
    height:50px;
    outline: none;
    padding-left: 15px;
    background: #ffffff;
    border-radius: 50px;
    border:0;
    color: #888; 
    border:2px solid #dbe9f7;

  }
  
  .search::placeholder{
    color: #888;
     
  }
ul{
    padding-top: 30px;
margin-left: 50px;
  }

li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}

#search-icon{
    position: relative;
    float: right;
    top: -40px;
    right: 20px;  
}


a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    color:rgb(17, 67, 111);
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;

}


  a.tooltipp {
        text-decoration: none;
      }
      a.tooltipp:hover {
        position: relative;
      }
      a.tooltipp span {
        display: none;
      }
      a.tooltipp:hover span {
        text-align: center;
        border-radius: 40px;
        display: block;
        padding: 5px;
        z-index: 100;
        background: rgb(255, 255, 255);
        color: rgb(187, 205, 255);
        left: -30px;
        margin: 15px;
        width: 80px;
        font-family: 'Raleway', Arial, sans-serif;
        font-size: 13px;
        position: absolute;
        top: 5px;
        text-decoration: none;
      }