/*     background-color:#dbf4f7;
 */
 @import url(https://fonts.googleapis.com/css?family=Raleway:500,600,800);
 @import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
 

 .nvbr{
  background-color:  rgb(157, 188, 221);
  padding-bottom: 20px;
 }

.header-title{
  color: rgb(255, 255, 255);
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: -300px;
  background-color: rgba(0, 0, 0, 0.103);
  width: 700px;
  position: absolute;
  left: 30%;
  top: 80%;
  padding-bottom: 30px;
}

.header-bg{
  margin-top: -110px;
  background-image: url("../assets/bg4.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  height: 750px;
  z-index: -1;
}

.pq{
    font-size: 30px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 25px;
    font-family: "Damion", cursive;
    font-weight: bold;
}
#logo{
    max-height: 65px;
    display: block; 
    margin: auto;
}


.search {
    margin-left: -100px;
    margin-top: 20px;
    width: 600px;
    height:50px;
    outline: none;
    padding-left: 30px;
    background: transparent;
    border-radius: 50px;
    font-family: 'Raleway', Arial, sans-serif;
    color:#ffffff;
    border:2px solid #ffffff;

  }
  
  .search::placeholder{
    color: #ffffff;
    font-family: 'Raleway', Arial, sans-serif;

     
  }
ul{
    padding-top: 30px;
    margin-left: 50px;
  }

li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}

#search-icon{
    position: relative;
    float: right;
    top: -40px;
    right: 20px;  
}


a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    color:rgb(17, 67, 111);
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;

}


  a.tooltipp {
        text-decoration: none;
        
      }
      a.tooltipp:hover {
        position: relative;
      }
      a.tooltipp span {
        display: none;
      }
      a.tooltipp:hover span {
        text-align: center;
        border-radius: 40px;
        display: block;
        padding: 5px;
        z-index: 100;
        background:  #f1f7ff;
        color: rgb(0, 0, 0);
        left: -5px;
        margin: 15px;
        width: 80px;
        font-family: 'Teko', sans-serif;
        font-size: 19px;
        position: absolute;
        top: 5px;
        text-decoration: none;
      }

.myAccountButton{
        color: rgb(255, 255, 255);
        font-family: 'Raleway', Arial, sans-serif;
        font-size: 17px;
        padding: 5px;
        border-radius: 5px;
        background-color: transparent;
        transition: background-color 0.5s;
}

.logoutButton{
  color: rgb(255, 255, 255);
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 17px;
  padding: 5px;
  background-color: transparent;
}

.myAccountButton:hover{

  background-color: rgb(255, 255, 255);
  color: rgb(141, 175, 204);
}