/* o renk    #c8dbe3 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');


.rw{
  background-image: url("../assets/bathroom-floor-tiles-textured-backdrop.jpg");
  text-align: center;
  max-width: 100%;
  display: flex;
  justify-content: center;
}





  .cl{
    border: 2px solid rgb(0, 0, 0);
  }