@import url('https://fonts.googleapis.com/css2?family=Teko:wght@200&display=swap');


.section{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}
#doctor{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid rgb(50, 57, 131);
    object-fit: cover;
    margin-bottom: 30px;
}
 
#p{
    text-align: center;
    color:rgb(53, 69, 85);
    font-size: 20px;
    font-family: 'Raleway', Arial, sans-serif;
    margin-bottom: 30px;
}
#h2{
    padding-bottom: 5px;
    border-bottom: solid 1px  rgb(185, 185, 185);  
    color:rgb(36, 46, 56);
}